<%- include("partials/header") -%>
<!-- today -->

<section class="white-section" id="weather">

  <div class="form-group">
    <form class="citySearch" action="/" method="post">
      <div class="search-bar">
        <input id="cityInput" class="form-control-lg" type="text" name="cityName" placeholder="Enter City Name">
      </div>
      <div class="search-button">
        <button type="submit" class="btn btn-light-outline">Search</button>
      </div>
    </form>
  </div>
  <span class="spinner"></span>
  <div class="">
    <h1 class="big-heading"> <%= cityEJS %> </h1>
  </div>

  <div class="container-fluid">
    <div class="row weather-section">
      <div class="col-lg-12">
        <h1 class="weather-title">Current Conditions</h1>
        <img src="<%= iconTodayEJS %>" alt="">
        <h1 class="weather-temperature"> <%= tempTodayEJS %>°C </h1>
        <h3 class="weather-description"> <%= weatherDescTodayEJS %> </h3>
        <h4 class="weather-temperature"> Low: <%= tempMinTodayEJS %>°C </h4>
        <h4 class="weather-temperature"> High: <%= tempMaxTodayEJS %>°C </h4>
        <h4 class="feels-like"> Feels Like: <%= feelsLikeTodayEJS %>°C </h4>
      </div>
    </div>

    <hr>

      <h1 class="weather-title">Hourly Forecast</h1>
    <div class="row">
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour1EJS %> </h3>
        <img src="<%= iconHour1EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour1DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour2EJS %> </h3>
        <img src="<%= iconHour2EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour2DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour3EJS %> </h3>
        <img src="<%= iconHour3EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour3DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour4EJS %> </h3>
        <img src="<%= iconHour4EJS %>" alt="">
          <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour4DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour5EJS %> </h3>
        <img src="<%= iconHour5EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour5DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour6EJS %> </h3>
        <img src="<%= iconHour6EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour6DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 offset-md-2 col-lg-3 offset-lg-0">
        <h3 class="weather-time"> <%= hour7EJS %> </h3>
        <img src="<%= iconHour7EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour7DescEJS %> </h5>
      </div>
      <div class="mydivs col-sm-5 col-md-4 col-lg-3">
        <h3 class="weather-time"> <%= hour8EJS %> </h3>
        <img src="<%= iconHour8EJS %>" alt="">
        <h3 class="weather-temperature"> °C </h3>
        <h5 class="weather-description"> <%= hour8DescEJS %> </h5>
      </div>
    </div>

    <hr>


    <h1>Daily Forecast</h1>
    <div class="row daily-forecast-row">
      <div class="mydivs col-md-4 col-lg-2 offset-lg-1">
        <h3 class="weather-time"> <%= day1EJS %> </h3>
        <img src="<%= day1IconEJS %>" alt="">
        <h4 class="weather-temperature"> <%= day1TempMinEJS %>°C</h4>
        <h4 class="weather-temperature"> <%= day1TempMaxEJS %>°C</h4>
        <h5 class="weather-description"> <%= day1DescEJS %></h5>
      </div>
      <div class="mydivs col-md-4 col-lg-2">
        <h3 class="weather-time"> <%= day2EJS %> </h3>
        <img src="<%= day2IconEJS %>" alt="">
        <h4 class="weather-temperature"> <%= day2TempMinEJS %>°C</h4>
        <h4 class="weather-temperature"> <%= day2TempMaxEJS %>°C</h4>
        <h5 class="weather-description"> <%= day2DescEJS %></h5>
      </div>
      <div class="mydivs col-md-4 col-lg-2">
        <h3 class="weather-time"> <%= day3EJS %> </h3>
        <img src="<%= day3IconEJS %>" alt="">
        <h4 class="weather-temperature"> <%= day3TempMinEJS %>°C</h4>
        <h4 class="weather-temperature"> <%= day3TempMaxEJS %>°C</h4>
        <h5 class="weather-description"> <%= day3DescEJS %></h5>
      </div>
      <div class="mydivs col-md-4 offset-md-2 col-lg-2 offset-lg-0">
        <h3 class="weather-time"> <%= day4EJS %> </h3>
        <img src="<%= day4IconEJS %>" alt="">
        <h4 class="weather-temperature"> <%= day4TempMinEJS %>°C</h4>
        <h4 class="weather-temperature"> <%= day4TempMaxEJS %>°C</h4>
        <h5 class="weather-description"> <%= day4DescEJS %></h5>
      </div>
      <div class="mydivs col-md-4 col-lg-2">
        <h3 class="weather-time"> <%= day5EJS %> </h3>
        <img src="<%= day5IconEJS %>" alt="">
        <h4 class="weather-temperature"> <%= day5TempMinEJS %>°C</h4>
        <h4 class="weather-temperature"> <%= day5TempMaxEJS %>°C</h4>
        <h5 class="weather-description"> <%= day5DescEJS %></h5>
      </div>
    </div>
    <hr>
  </div>
</section>



<!-- phone ad -->
<section class="colored-section" id="phoneAd">
  <div class="container-fluid">
<div class="row">
  <div class="phone-ad-left col-lg-6 col-md-12">
    <h1 class="big-heading">Like what you see? Download fabWeather today!</h1>
    <button type="button" class="btn btn-dark btn-lg download-button-title"><i class="fab fa-apple"></i> Download</button>
    <button type="button" class="btn btn-dark btn-lg download-button-title"><i class="fab fa-google-play"></i> Download</button>
    <!-- https://fontawesome.com/ -->
  </div>

  <div class="title-right col-lg-6 col-md-12">
    <img class="phone-ad" src="images/IPhoneWeather.png" alt="iphone-mockup">
    <!-- width="300" height="600" -->
  </div>
</div>
</div>
</section>

<!-- Pricing -->

<section class="white-section" id="pricing">

  <h2 class="section-heading">Payment plans</h2>
  <p>Simple and affordable price plans.</p>

  <!-- <div class="card-deck"> -->

  <div class="row">

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Free</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">$0 / yr</h2>
          <p>No account needed</p>
          <p>Search any location</p>
          <p>Limited to 10 searches per day</p>
          <button type="button" class="btn btn-block btn-lg btn-dark">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Pro</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">$5 / yr</h2>
          <p>Save a location to your favourites</p>
          <p>No ads to worry about</p>
          <p>Email support</p>
          <button type="button" class="btn btn-block btn-lg btn-dark">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="pricing-column col-lg-4 col-md">
      <div class="card">
        <div class="card-header">
          <h3>Elite</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">$10 / yr</h2>
          <p>Save unlimited locations</p>
          <p>Personalized settings with no ads</p>
          <p>Priority phone support</p>
          <button type="button" class="btn btn-block btn-lg btn-dark">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Testimonials -->

<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">

        <h2 class="testimonial-text">I love this app! It has a very simple UI </h2>
        <em>Emily Cheerie, 32</em>

      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">Saving locations to my favourites is great!</h2>
        <em>Joe Samson, 26</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>

<!-- Press -->

<section class="colored-section" id="press">
  <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
  <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
  <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
  <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

</section>


<!-- Call to Action -->

<section class="colored-section" id="cta">
  <div class="container-fluid">

    <h3 class="big-heading">Check it out!</h3>
    <button type="button" class="btn btn-dark btn-lg download-button-cta"><i class="fab fa-apple"></i>Download</button>
    <button type="button" class="btn btn-dark btn-lg download-button-cta"><i class="fab fa-google-play"></i> Download</button>

  </div>

</section>


<%- include("partials/footer") -%>
